<!DOCTYPE html>
<html>
<head>
  <title>Reservat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div class="container showgrid">	
			<div id="header" class="span-24 last" >
			  <h1 id="book_haven"><img src="/images/header.jpg" alt="World header image" id="header-image"  height="100px" /></h1><h3 class="alt">Eficiencia en el uso de los recursos...</h3>
			</div>
			<hr />
			<div id="subheader" class="span-24 last">
			  <a href="#" class="quiet">Rercusos</a>  <a href="#" class="quiet"> Calendario</a>   <a href="#" class="quiet"> Otras opciones... </a> 
			</div>
			<hr />
			<!-- Parte Central Menu izquierdo y contenido... -->
			<%= yield %>
	</div>
</body>
</html>
